.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info_button {
  background-color: #8561fb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.info_button:hover {
  background-color: #5e35b1;
}

.todo_div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.todo_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.todo_input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo_list {
  list-style-type: none;
  padding: 0;
}
.todo_list li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}